-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: parkinglotdb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `parkinghistory`
--

DROP TABLE IF EXISTS `parkinghistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parkinghistory` (
  `HistoryID` int(11) NOT NULL AUTO_INCREMENT,
  `SlotID` int(11) NOT NULL,
  `Slot` varchar(10) NOT NULL,
  `Floor` int(11) NOT NULL,
  `PlateNumber` varchar(50) NOT NULL,
  `Owner` varchar(50) DEFAULT NULL,
  `Entry` datetime NOT NULL,
  `ExitTime` datetime DEFAULT NULL,
  `Duration` int(11) DEFAULT NULL,
  `Fee` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`HistoryID`),
  KEY `SlotID` (`SlotID`),
  CONSTRAINT `fk_parkingslots_slotid` FOREIGN KEY (`SlotID`) REFERENCES `parkingslots` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parkinghistory`
--

LOCK TABLES `parkinghistory` WRITE;
/*!40000 ALTER TABLE `parkinghistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `parkinghistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parkingslots`
--

DROP TABLE IF EXISTS `parkingslots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parkingslots` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Slot` varchar(10) NOT NULL,
  `Floor` int(11) NOT NULL,
  `Status` varchar(20) DEFAULT 'Available',
  `PlateNumber` varchar(50) DEFAULT NULL,
  `Owner` varchar(50) DEFAULT NULL,
  `Entry` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parkingslots`
--

LOCK TABLES `parkingslots` WRITE;
/*!40000 ALTER TABLE `parkingslots` DISABLE KEYS */;
/*!40000 ALTER TABLE `parkingslots` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-23  3:28:13
